.sass-cache
Gemfile.lock
*.gemfile.lock


/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
/vendor
/test/dummy/log
/test/dummy/tmp
.DS_Store

# rspec failure tracking
.rspec_status
