  <div class="bs-component">
    <div class="alert alert-dismissible alert-warning">
      <button type="button" class="close" data-dismiss="alert">×</button>
      <h4 class="alert-heading">Warning!</h4>
      <p class="mb-0">要求された処理は正常に完了できませんでした。このエラーについての詳細は<a href="#" class="alert-link">こちらのドキュメントを参照してください</a>。</p>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4">
      <div class="bs-component">
        <div class="alert alert-dismissible alert-danger">
          <button type="button" class="close" data-dismiss="alert">×</button>
          <strong>エラー</strong> <a href="#" class="alert-link">いくつかの項目を見直して</a> 再度投稿してください
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="bs-component">
        <div class="alert alert-dismissible alert-success">
          <button type="button" class="close" data-dismiss="alert">×</button>
          <strong>完了</strong> 記事「<a href="#" class="alert-link">国立音ノ木坂学院について</a>」を公開しました
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="bs-component">
        <div class="alert alert-dismissible alert-info">
          <button type="button" class="close" data-dismiss="alert">×</button>
          <strong>Tips</strong> 生徒手帳には<a href="#" class="alert-link">講堂の使用には許可が必要</a>と書いてあります
        </div>
      </div>
    </div>
  </div>
  <div class="alert alert-info" role="alert">
    A simple primary alert—check it out!
  </div>

  <div class="alert alert-secondary" role="alert">
    A simple secondary alert—check it out!
  </div>
